extends layout.pug

block content 
  h1= "Index"
  if !user
    h1= "You're not logged in!"
  if posts 
    ul
      if currentUser 
        if currentUser.membership_status
          for post in posts 
            li
              p=post.message
              p=post.dateCreated
              if post.user 
                p=post.user.username
              else 
                p No comment

       
        else 
          for post in posts 
            li= post.message
            

