extends layout.pug

block content 
  h1= "Index"
  if !currentUser
    h1= "You're not logged in!"
  if posts 
    ul
      if currentUser 
        if currentUser.membership_status || currentUser.admin
          for post in posts 
            li
              p=post.message
              p=post.date_created
              p=post.user.username
              if currentUser.admin 
                form(action="/delete-post" method="post")
                  button Delete this post
                   input(type="hidden" id="post_id" name="post_id" value=post._id)
        else 
          for post in posts 
            li= post.message
            

